<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <style media="screen">
    #logo{
      width : 500px;
      heigth :500px
    }

  </style>
  <body>
    <h1><%= title %></h1>
    <image id=logo src="images/botram.png" />
  </body>
</html>
