<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style media="screen">
      #logo{
        width : 500px;
        heigth :500px
      }

    </style>
  </head>

  <body>
    <h1><%= title %></h1>
    <img id=logo src="images/botram.png" />
  </body>
</html>
